body {
	font-family: sans-serif;
}
/**********
 * Data   *
 **********/
.track {
	text-align: center;
}

.value {
	height: 250px;
	width: 450px;
	font-size: 1000%;
	text-align: center;
}

#degrees {
	margin: 0 150px;
	font-size: 196pt;
	padding: 200px;
	text-align: center;
}

/***********
 * Buttons *
 ***********/

.btn {
	height: 350px;
	width: 350px;
	font-size: 72px;
	font-weight: 100;
}

.buttons {
	text-align: center;
	padding: 75px
	padding-bottom: 200px;
}

.divider {
	width: 100px;
	height: auto;
	display: inline-block;
}

#record {
	border-radius: 750px
}
